/* Add hover effect to buttons */
button:hover {
    background-color: #138a86;
    color: white;
  }
  
  /* Style select box */
  select {
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  // 
  input[type="checkbox"]{
    width: 25px;
    height: 25px;
  }
  
  /* Style textarea */
  textarea {
    width: 300%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: #138a86;
  }
  
  /* Style buttons */
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    color: #138a86;
    cursor: pointer;
  }
  
  /* Style heading */
  .heading {
    display: flex;
    align-items: center;
  }
  
  .heading h5 {
    margin: 0;
    color: #138a86;
  }
  
  /* Add line before heading */
  .heading-left-line {
   
    width: 100px;
    height: 2px;
    background-color: #138a86;
    margin-right: 50px;
  }
  
  /* Style box */
  .box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    border-color: #138a86;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style card */
  .box-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border-color: #138a86;
  }
  
  /* Add shadow to card */
  .box-card-body {
    padding: 20px;
  }
  
  /* Add margin to buttons */
  .mt-2 {
    margin-top: 20px;
  }
  
  /* Add margin to elements */
  .p-2 {
    margin-right: 10px;
  }
  

  .verification-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .verification-title {
    font-size: 1.2rem;
    color: #138a86;
    margin-bottom: 15px;
  }
  
  .provider-details {
    margin-bottom: 20px;
  }
  
  .provider-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .pan-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .remark-container {
    margin-bottom: 20px;
  }
  
  .remark-container label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: #138a86;
    resize: vertical;
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .verify-button {
    background-color: #138a86;
    color: #fff;
  }
  
  .partial-verify-button {
    background-color: #ffc107;
    color: #333;
    margin-left: 10px;
  }
  
  .button-container button:hover {
    background-color: #0d6e6b;
  }
  
