<div>
  <div class="heading">
    <h5><span class="heading-left-line"></span> DC Verification</h5>
    <hr />
  </div>
  <div>
    <div class="box">
      <div class="box-card">
        <div class="box-card-body">
          <form [formGroup]="form">
            <div class="d-flex flex-row">
              <div class="p-2">
                <select formControlName="id">
                  <option>----select----</option>
                  <option
                    *ngFor="let item of providerNames"
                    [value]="item.id"
                  >
                    {{ item.providerName }}
                  </option>
                </select>
              </div>
              <div class="p-2">
                <button type="submit" (click)="onSubmit()">Search</button>
              </div>
            </div>
          </form>
        </div >

        <div *ngIf="selfemployementData" >
          <h6>Verify SelfEmapanelment</h6>
          <div>{{selfemployementData.providerName}}</div>
          <img src="data:image/png;base64,{{ selfemployementData.pan_image }}" width="400" height="200">
          <div>
            Remark:
            <textarea rows="3"></textarea>
          </div>
          <div class="mt-2">
            <button (click)="verification('value')"> Verify</button>
            <button (click)="verification('partilVerify')"> Partial Verify</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
