<div>
  <div class="heading">
    <h5 class="my-3"><span class="heading-left-line"></span>Legal team DC Verification</h5>
    <hr />
  </div>


  <div>
    <div class="box">
      <div class="box-card">
        
        <div class="dashboard-container">
          <div class="tiles-container">
            <div class="tile animated" (click)="toggleDetails(1)">
              <a>
                <h2>Pending For Verification</h2>
                <p class="count">{{showAnalytics.pending.length || 0}}</p>
              </a>
            </div>
            <div class="tile animated" (click)="toggleDetails(2)">
              <a >
                <h2>Verified</h2>
                <p class="count">{{showAnalytics.verify.length || 0}}</p>
              </a>
            </div>
            <div class="tile animated" (click)="toggleDetails(3)">
              <a >
                <h2>Partial Verified</h2>
                <p class="count">{{showAnalytics.partialVerify.length || 0}}</p>
              </a>
            </div>
          </div>
        </div>
        
        <div class="details d-flex justify-content-center" *ngIf="showDetails === 1">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DC Name</th>
                <th scope="col">DCID</th>
                <th scope="col">Pincode</th>
                <th scope="col">Network</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of showAnalytics.pending; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.providerName}}</td>
                <td>{{item.DCID}}</td>
                <td>{{item.pincode}}</td>
                <td>{{item?.verifiedByNetworkUser}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="details d-flex justify-content-center" *ngIf="showDetails === 2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DC Name</th>
                <th scope="col">DCID</th>
                <th scope="col">Pincode</th>
                <th scope="col">Network</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of showAnalytics.partialVerify; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.providerName}}</td>
                <td>{{item.DCID}}</td>
                <td>{{item.pincode}}</td>
                <td>{{item?.verifiedByNetworkUser}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="details d-flex justify-content-center" *ngIf="showDetails === 3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DC Name</th>
                <th scope="col">DCID</th>
                <th scope="col">Pincode</th>
                <th scope="col">Network</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of showAnalytics.verify; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.providerName}}</td>
                <td>{{item.DCID}}</td>
                <td>{{item.pincode}}</td>
                <td>{{item?.verifiedByNetworkUser}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box-card-body">
          <form [formGroup]="form">
            <div class="d-flex flex-row">
              <div class="p-2">
                <select formControlName="id">
                  <option>------------Select DC -----------</option>
                  <option
                    *ngFor="let item of providerNames"
                    [value]="item.id"
                  >
                    {{ item.providerName }} - {{item.DCID}}
                  </option>
                </select>
              </div>
              <div class="p-2">
                <button type="submit" (click)="onSearch()">Search</button>
              </div>
            </div>
          </form>
        </div >

<div *ngIf="selfemployementData" class="verification-container">
  <h6 class="verification-title">Welcome to DC legal verification</h6>

  <div class="verified">
    <b>N/W team Verified by :</b> {{selfemployementData.verifiedByNetworkUser.name}} ({{selfemployementData.verifiedByNetworkUser.email}}) <br> 
  <b>N/W team Verified Date : </b>{{selfemployementData.verifiedByNetworkDate  | date: 'short'  }}
  </div>
  <div *ngIf="selfemployementData" class="verification-container">
    <div class="provider-details row">
      <div class="col-md-6 border p-3" *ngIf="selfemployementData.PanCard_number || selfemployementData.pan_image">
        <p>Pan Name: {{selfemployementData.nameOnPanCard}} <br>
            Pan Number: {{selfemployementData.PanCard_number}}</p>
        <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.pan_image }}" alt="Pan Image">
        <div><br>
            <input type="radio" name="panVerification1" [value]="'verify'"/> Verified
            <input type="radio" name="panVerification1" [value]="'not-verify'" checked/> Not Verified
        </div>
    </div>
    <div class="col-md-6 border p-3" *ngIf="selfemployementData.Adhar_number || selfemployementData.Adhar_name || selfemployementData.aadhar_image">
        <p>Aadhar Name: {{selfemployementData.Adhar_name}}<br>
            Aadhar Number: {{selfemployementData.Adhar_number}}</p>
        <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.aadhar_image }}" alt="Aadhar Image">
        <div><br>
            <input type="radio" name="panVerification2" [value]="'verify'"/> Verified
            <input type="radio" name="panVerification2" [value]="'not-verify'" checked/> Not Verified
        </div>
    </div>
    <div *ngIf="selfemployementData" class="verification-container">

      <div class="provider-details row">
          <div class="col-md-6 border p-3" *ngIf="selfemployementData.Accredation || selfemployementData.Accreditation_image">
              <p>Accredation: {{selfemployementData.Accredation}}</p>
              <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Accreditation_image }}" alt="Accreditation Image">
              <div><br>
                  <input type="radio" name="accreditationVerification" [value]="'verify'"/> Verified
                  <input type="radio" name="accreditationVerification" [value]="'not-verify'" checked/> Not Verified  
              </div>
          </div>
          <div class="col-md-6 border p-3" *ngIf="selfemployementData.TDS_image">
              <p>TDS: {{selfemployementData.Remark}}</p>
              <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.TDS_image }}" alt="TDS Image">
              <div><br>
                  <input type="radio" name="tdsVerification" [value]="'verify'"/> Verified
                  <input type="radio" name="tdsVerification" [value]="'not-verify'" checked/> Not Verified  
              </div>
          </div>
          <div class="col-md-6 border p-3" *ngIf="selfemployementData.Ownership_image">
              <p>Ownership: {{selfemployementData.Ownership}}</p>
              <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Ownership_image }}" alt="Ownership Image">
              <div><br>
                  <input type="radio" name="ownershipVerification" [value]="'verify'"/> Verified
                  <input type="radio" name="ownershipVerification" [value]="'not-verify'" checked/> Not Verified  
              </div>
          </div>
          <div class="col-md-6 border p-3" *ngIf="selfemployementData.Registration_Number_image">
              <p>Registration Number: {{selfemployementData.Registration_Number}}</p>
              <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Registration_Number_image }}" alt="Registration Number Image">
              <div><br>
                  <input type="radio" name="registrationVerification" [value]="'verify'"/> Verified
                  <input type="radio" name="registrationVerification" [value]="'not-verify'" checked/> Not Verified
              </div>
          </div>
      </div>
  </div>
  <div class="button-container">
    <button class="verify-button" (click)="verification('verify')">Save & Submit</button>
    <!-- <button class="partial-verify-button" (click)="verification('partialVerify')">Partial Verify</button> -->
  </div>
</div>
      </div>
    </div>
  </div>
</div>
