$primary-color: #0C356A;
$error-color: red;



.heading{
    padding: 1.5rem 2rem 0rem 2rem;
    h5{
        color: $primary-color;
    }
    hr{
        height: 2px;
    }
}

.heading-left-line{
    color: $primary-color;
    border-left: solid;
    border-style: 2px solid;
    border-color: $primary-color;
    margin-right: 1rem;
}

.DCName {
    text-align: center;
    margin-top: 20px; /* Example margin top */
    padding: 10px; /* Example padding */
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ccc; /* Example border */
    border-radius: 5px; /* Example border radius */
    font-size: 15px;
}

.Detail {
    text-align: center;
    margin-top: 20px; /* Example margin top */
    padding: 10px; /* Example padding */
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ccc; /* Example border */
    border-radius: 5px; /* Example border radius */
    font-size: 15px;
}


.box{
    padding: 0 2rem; 
    .box-card{
        padding: 0.7rem;
        border: 1px solid rgba(19, 0, 109, 0.456);
        border-radius: 10px;
    }
    .box-card-header{
        padding: 1rem;
    }
    .box-card-body{
        padding:  0.4rem 1rem 1rem 1rem;
    }
}

.input-group-box{
    padding-top: 0.7rem;
    label{
        color: #212529;
        font-size: 0.8rem;
        font-weight: 500;
    }
    input, select{
        color: #4f4f4fd4;
        padding: 1rem;
        width: 100%;
    }
    input[type="radio"]{
        width: 10%;
    }
}

button{
    padding: 0.35rem 1rem;
    background-color: #0C356A;
    color: #fff;
    border-radius: 100px;
    &:hover{
        background-color: gold;
        color: #0C356A;
        border-color: gold;
    }
    .newcard{
        background-color: #fff;
        min-height: 500px;
        border-radius: 8px;
        margin-bottom: 2rem;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        .card-img-top{
            border-radius: 2px;
        }
        .card-body{
            padding: 10px;
        }
        .card-title2{
            font-size: 14px;
            margin-bottom: 4px;
        }
        .card-detail{
            font-size: 13px;
        }
        .card-text{
            margin-bottom: 0px;
            text-wrap: wrap;
        }
        .card-text span{
            font-weight: 500;
        }
        .card-status{
            color: var(--green);
            border: 1px solid var(--green);
            padding: 2px 4px;
            font-size: 14px;
        }
    }
}