<div>
  <div class="heading">
    <h5><span class="heading-left-line"></span>DC Verification</h5>
    <hr />
  </div>
  <div>
    <div class="box">
      <div class="box-card">
        <div class="box-card-body">
          <form [formGroup]="form">
            <div class="d-flex flex-row">
              <div class="p-2">
                <select formControlName="id">
                  <option>------------Select DC -----------</option>
                  <option
                    *ngFor="let item of providerNames"
                    [value]="item.id"
                  >
                    {{ item.providerName }}
                  </option>
                </select>
              </div>
              <div class="p-2">
                <button type="submit" (click)="onSearch()">Search</button>
              </div>
            </div>
          </form>
        </div >

<div *ngIf="selfemployementData" class="verification-container">
  <h6 class="verification-title">Verify Self-Empanelment</h6>
  <div class="provider-details row">
    <div class="provider-name">{{ selfemployementData.providerName }}</div>
    <div class="col-md-6" *ngIf="selfemployementData.PanCard_number && selfemployementData.pan_image">
      <input type="checkbox" [(ngModel)]="isPanVerify" [ngModelOptions]="{standalone: true}"/> 
      <p>Pan Name: {{selfemployementData.nameOnPanCard}} <br>
      Pan Number: {{selfemployementData.PanCard_number}}</p>
      <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.pan_image }}" alt="Pan Image">
    </div>
    <div class="col-md-6" *ngIf="selfemployementData.Adhar_number && selfemployementData.Adhar_name && selfemployementData.aadhar_image">
      <input type="checkbox" [(ngModel)]="isAadharVerify" [ngModelOptions]="{standalone: true}"/> 
      <p>Aadhar Name: {{selfemployementData.Adhar_name}}<br>
      Aadhar Number: {{selfemployementData.Adhar_number}}</p>
      <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.aadhar_image }}" alt="Pan Image">
    </div>
    <div class="col-md-6" *ngIf="selfemployementData.Accredation && selfemployementData.Accreditation_image">
      <input type="checkbox" [(ngModel)]="isAccredationVerify" [ngModelOptions]="{standalone: true}"/> 
      <p>Accredation: {{selfemployementData.Accredation}}</p>
      <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Accreditation_image }}" alt="Aadhar Image">
    </div>
    <div class="col-md-6" *ngIf="selfemployementData.TDS_image">
      <input type="checkbox" [(ngModel)]="isTDSVerify" [ngModelOptions]="{standalone: true}"/> 
      <!-- <p>Accredation: {{selfemployementData.Accredation}}</p> -->
      <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.TDS_image }}" alt="Pan Image">
    </div>
    <div class="col-md-6" *ngIf="selfemployementData.Ownership_image">
      <!-- <p>Accredation: {{selfemployementData.Accredation}}</p> -->
      <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Ownership_image }}" alt="Pan Image">
    </div>
    <div class="col-md-6" *ngIf="selfemployementData.Registration_Number_image">
      <!-- <p>Accredation: {{selfemployementData.Accredation}}</p> -->
      <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Registration_Number_image }}" alt="Pan Image">
    </div>
  </div>

  <div class="remark-container">
    <label for="remark">Remark:</label>
    <textarea id="remark" rows="3" name="remark" placeholder="Enter your remark here..." [(ngModel)]="remark"></textarea>
  </div>

  <div class="button-container">
    <button class="verify-button" (click)="verification('verify')">Verify</button>
    <button class="partial-verify-button" (click)="verification('partialVerify')">Partial Verify</button>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
