<section class="dc-search-section">
  <div class="container hero mt-5">
    <div class="row d-flex ">
      <div class="text-center row">
        <div class="col-md-6 mx-auto">
          <form [formGroup]="DCSerachForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-row row">
              <div class="input-search-group-box col-md-9">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Name, PIN, City"
                  formControlName="q"
                />
              </div>
                <button class="btn btn-success text-capitalize px-4  col-md-2" type="submit">
                  Search
                </button>
            </div>
            
            <div class="row mt-4">
            <div class=" text-left col-md-9 mx-auto">
              <label for="filter" class="filter-label">Filter by Test</label>
              <ng-multiselect-dropdown
                [placeholder]="'Type in Test Name and select one or more'"
                formControlName="t"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="selectedItems">
              </ng-multiselect-dropdown>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Advanced View Link -->
  <div class="advanced-view text-center mt-3">
    <a href="#"></a>
  </div>

  <div class="container-sm">
  <!-- <div class="mt-4" style="display: none;">
    <h6 class="text-center">Results: 0</h6>
    <div class="row justify-content-center my-4">
        <div class="col-md-4 mb-4" >
            <div class="">
                <div class="card-body p-4 mb-3">
                    <p>Provider ID: 71071</p>
                    <p>Krishna Hospital - Vasai</p>
                    <p>G,B-1,Prabhu Niwas, K.T Village,Meena Nagar,Opp., Greter Bank Vasai west</p>
                    <p>City 400701</p>
                    <p>StateMaharastra</p>
                    <div class="d-flex justify-content-center mt-3">
                      <button class="btn btn-more">More</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->
  <div class="mt-4" *ngIf="dcSearchDisplayResponseData && isSubmit">
    <h6 class="text-center">Results: {{ tempStoreSearchResult.length }} </h6>
    <div class="row justify-content-center my-4">
        <div class="col-md-4 mb-4" *ngFor="let dc of dcSearchDisplayResponseData"  >
            <div class="">
                <div class="card-body p-4 mb-3">
                    <p>Provider ID: {{ dc.DCID }}</p>
                    <p>{{ dc["DC Name"] | slice : 0 : 45 }}</p>
                    <p>{{ dc.Address | slice : 0: 90 }}</p>
                    <p>{{ dc.City }} {{ dc.Pincode }}</p>
                    <p>{{ dc.State }}</p>
                    <div class="d-flex justify-content-center mt-3">
                      <button class="btn btn-more" (click)="viewMoreDetails(dc)">More</button>
                  </div>
                </div>
            </div>
        </div>
        
        <mat-paginator *ngIf="dcSearchDisplayResponseData.length != 0" 
        [length]="totalItems" [pageSize]="pageSize" 
        [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" 
        (page)="onPageChange($event)">
    </mat-paginator>
        <ng-container *ngIf="dcSearchDisplayResponseData.length == 0">
          <div class="d-flex justify-content-center">
            <div class="alert alert-warning" role="alert" style="width: 50em">
              No DC Found For the Search Criteria!!
            </div>
          </div>
      </ng-container>
    </div>
  </div>
</div>

</section>
