:root {
    --green : #138a86;
    --white: #ffffff;
    --black: #000000;
  }

.dc-search-section {
    margin-left: auto;
    margin-right: auto;
}
 
.hero{
    padding: 2rem 0;
    text-align: center;
}
 
.search-box {
    width: 100%; /* Adjust width as needed */
    max-width: 1200px; /* Max width if needed */
    color: #138a86;
    padding: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto; 
    border-radius: 20px; 
    border: 2px solid rgb(24, 131, 131); /* Specify border color and style */
  }

.input-search-group-box{
    height: fit-content;
    width: 350px;
    color: #138a86;
    margin-right: 3px;
}
 

.input-search-group-box input {
    width: 100%;
    background-color: transparent;
    color: #138a86;
    border-radius: 10px; 
    border: 1px solid var(--green);
    padding: 1.263em; 
    font-size: 16px; 
}

// ng-multiselect-dropdown{
//     width: 100%;
//     background-color: transparent;
//     color: var(--green);
//     border-radius: 10px; 
//     font-size: 16px;
//     height: fit-content;
// }
 
.input-search-group-box input::placeholder {
    color: #138a86;
}
 
.input-search-group-box input:focus {
    border: 1px solid #138a86;
}
 
.input-search-group-box input::after {
    content: '';
    display: block;
}
 
.search-button {
    color: #fff;
    width: 150%;
    background-color:#138a86;
    border-radius: 10px; 
    border: 5;
    padding: 1.263em; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-button:hover {
    background-color: #8a1559; /* Example hover background color */
  }

 
.hero-heading{
    color: #138a86;
}
.dc-search-section {
    background-color: var(--white);
    background-size: cover; 
    background-position: center; 
}
.container_hero{
    height: fit-content;
    width: 150%;
}


// card
.newcard{
    background-color: #fff;
    min-height: 500px;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    .card-img-top{
        border-radius: 2px;
    }
    .card-body{
        padding: 10px;
    }
    .card-title2{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .card-detail{
        font-size: 13px;
    }
    .card-text{
        margin-bottom: 0px;
        text-wrap: wrap;
    }
    .card-text span{
        font-weight: 500;
    }
    .card-status{
        color: var(--green);
        border: 1px solid var(--green);
        padding: 2px 4px;
        font-size: 14px;
    }
}
.newcard:hover{
    box-shadow: #41cbd896 0px 5px 15px;
    cursor: pointer;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bi{  
    color: #138a86;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}


/* Custom styles for ng-multiselect-dropdown */

/* Target the selected items */
ng-multiselect-dropdown div.multiselect-dropdown div span.dropdown-btn {
    padding: 0 !important;
    border: 0 !important;
}

.multiselect-dropdown .dropdown-btn {
    padding: 0 !important;
    border: 0 !important;
}

ng-multiselect-dropdown {
    width: 100%;
    background-color: transparent;
    color: #138a86;
    border-radius: 10px; 
    // border: 1px solid var(--green);
    // padding: 1.263em;
    font-size: 16px; 
}

::ng-deep ng-multiselect-dropdown .dropdown-btn {
    padding: 1.263em !important;
    border-radius: 10px !important;
    border: 1px solid #138a86 !important;
}
::ng-deep ng-multiselect-dropdown .dropdown-multiselect__caret{
    display: none !important;
}

label{
    text-align: left;
    font-size: 10px;
}

.input-label{
    text-align: left;
    font-size: 13px;
    margin-bottom: 0;
}