<section>
  <div class="d-flex justify-content-center">
    <div class="col-md-10">
      <h5 class="mb-2">Empanelment Request</h5>
      <form class="form-row" [formGroup]="addProviderForm">
        <div class="col-md-3">
          <select class="form-select" formControlName="zone">
            <option value="" disabled selected>Zone Selector</option>
            <option *ngFor="let zone of ZoneType" [value]="zone.value">{{ zone.viewValue }}</option>
          </select>
          <div *ngIf="isSubmitted || f['zone'].invalid && f['zone'].touched" class="errormessage">
            <div *ngIf="f['zone'].errors?.['required']">Please select Zone</div>
          </div>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" formControlName="pincode" placeholder="PIN Code Requested">
          <div *ngIf="isSubmitted || f['pincode'].invalid && f['pincode'].touched" class="errormessage">
            <div *ngIf="f['pincode'].errors?.['required']">PIN Code is required</div>
            <div *ngIf="f['pincode'].errors?.['minlength']">Please enter correct PIN Code</div>
          </div>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="remark" placeholder="Remarks">
          <div *ngIf="isSubmitted || f['remark'].invalid && f['remark'].touched" class="errormessage">
            <div *ngIf="f['remark'].errors?.['required']">Remarks is required</div>
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary mb-2" (click)="onSubmitAddProvider()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>