<div class="container-fluid ">
  <!-- ADD PROVIDER Section -->
  <div class="mt-4">
    <h2 class="text-center">ADD PROVIDER</h2>
    <form class="form-row justify-content-center" [formGroup]="addProviderForm">
      <div class="col-md-3 mb-3">
        <select class="form-select" formControlName="zone">
          <option selected disabled hidden>Select Zone</option>
          <option *ngFor="let zone of ZoneType" [value]="zone.value">{{ zone.viewValue }}</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <input type="number" class="form-control" formControlName="pincode" placeholder="PinCode">
      </div>
      <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="remark" placeholder="Remarks">
      </div>
      <div class="col-md-1 mb-3">
        <button type="submit" class="btn btn-primary mb-2" (click)="onSubmitAddProvider()">Submit</button>
      </div>
    </form>
  </div>
  <hr>

  <div class="mt-4">
    <h2 class="text-center">DELIST PROVIDER</h2>
    <form class="form-row justify-content-center" [formGroup]="delistProviderForm">
      <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="providerId" placeholder="ProviderID">
      </div>
      <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="providerName" placeholder="ProviderName">
      </div>
      <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="pinCode" placeholder="Pincode">
      </div>
      <div class="col-md-1 mb-3">
        <button type="button" class="btn btn-primary mb-2" (click)="onSubmitDelistProvider()">Delist</button>
      </div>
    </form>
  </div>
  <hr>

  <div class="mt-4">
    <h2 class="text-center">ACTIVATE PROVIDER</h2>
    <form class="form-row justify-content-center" [formGroup]="activateProviderForm">
      <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="providerId" placeholder="ProviderID">
      </div>
      <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="providerName" placeholder="ProviderName">
      </div>
      <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="pinCode" placeholder="Pincode">
      </div>
      <div class="col-md-1 mb-3">
        <button type="button" class="btn btn-primary mb-2" (click)="onSubmitActivateProvider()">Activate</button>
      </div>
    </form>
  </div>

</div>