.dashboard {
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #343a40;
      font-size: 2.5em;
      text-transform: uppercase;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .table-container {
      max-height: 260px; /* Adjust height as needed */
      overflow-y: auto;
    }
    
  
    .section {
      margin-bottom: 30px;
      background: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      h2 {
        color: #54616d;
        font-size: 1.75em;
        margin-bottom: 15px;
        border-bottom: 2px solid #dee2e6;
        padding-bottom: 5px;
;
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
  
        thead {
          tr {
            background: #6c757d;
            color: #ffffff;
            text-align: center;
          }
        }
  
        th, td {
          border: 1px solid #dee2e6;
          padding: 10px;
          text-align: center;
        }
  
        th {
          background: #4b8697;
          font-weight: bold;
        }
  
        tbody {
          tr {
            &:nth-child(even) {
              background: #f1f3f5;
            }
  
            &:hover {
              background: #e2e6ea;
              cursor: pointer;
            }
  
            transition: background 0.3s ease;
          }
        }
      }
    }
  }
  

  .viewDc{
    cursor: pointer;
    color: #000;
    &:hover{
      text-decoration: underline;
      color: #007bff;
    }
  }


  // manual 
  .row div{
    background-color: #828282;
    border-radius: 10px;
  }
  .table{
    tr th{
      color: #E0E0E0;
      font-weight: 500;
      padding: 0.35rem;
    }
    td{
      color: #000;
      font-weight: 500;
      padding: 0.25rem;
    }
    td span{
      background: transparent;
      padding: 0;
    }
    tr:hover{
        cursor: pointer; 
    }
  }


  .table-container {
        min-height: 230px;
        max-height: 300px;
        overflow-y: auto;
        // Define a narrow scrollbar
        &::-webkit-scrollbar {
            width: 5px; // Width of the scrollbar
        }
        // Track
        &::-webkit-scrollbar-track {
            background: #f1f1f1; // Color of the scrollbar track
        }
        // Handle
        &::-webkit-scrollbar-thumb {
            background: #888; // Color of the scrollbar handle
        }
        // Handle on hover
        &::-webkit-scrollbar-thumb:hover {
            background: #555; // Color of the scrollbar handle on hover
        }
    }