<section>
  <div class="container">
    <div class="mt-5" *ngIf="accountService.getRole() == '4'">
      <app-requestpage-operation></app-requestpage-operation>
    </div>
    <div class="row mt-4 d-flex justify-content-around">
      
      <div class="col-md-5 col-lg-5">
        <div class="m-3">
          <h5>New Requests</h5>
          <div class="table-container">
          <table class="table">
            <tr>
              <th>Request No</th>
              <th>Request Type</th>
              <th>Request Date</th>
              <th>PIN</th>
            </tr>
            <ng-container *ngFor="let request of newRequests">
              <tr  *ngIf="!request?.ticketType" (click)="onOpenRequestClick(request)" >
                <td>{{ request.Ticket_Id }}</td>
                <td>{{ request?.requestType }}</td>
                <td>{{ request.requestedDate | date:'dd/MM/yy' }}</td>
                <td>{{ request.pincode }}</td>
              </tr>
            </ng-container>
          </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="m-3">
          <h5>Open Requests</h5>
          <div class="table-container">
          <table class="table">
            <tr>
              <th>Request No</th>
              <th>Provider Name</th>
              <th>Current Status</th>
              <th>Request Date</th>
              <th>PIN</th>
            </tr>
            <tr *ngFor="let request of openRequests">
            <td>{{ request.Ticket_Id }}</td>
            <td>{{ request.providerName | slice : 0 : 30 }}</td>
            <td> 
              <span *ngIf="request.Status_ID==48">Forwarded to DC</span>
              <span *ngIf="request.Status_ID==49">Document Submitted By DC</span>
              <span *ngIf="request.Status_ID==50">Forwarded to legal after QC1</span>
              <span *ngIf="request.Status_ID==51">Document Verified by Legal</span>
              <span *ngIf="request.Status_ID==52">Issue in Document</span>
            </td>
            <td>{{ request.requestedDate | date:'dd/MM/yy' }}</td>
            <td>{{ request.pincode }}</td>
            </tr>
          </table>
        </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-7 mt-3 mb-4">
        <div class="m-3">
          <h5>Closed Requests</h5>
          <div class="table-container">
          <table class="table">
            <tr>
              <th>Request No</th>
              <th>Provider Name</th>
              <th>Request Type</th>
              <th>Request Date</th>
              <th>Date Closed</th>
              <th>PIN</th>
            </tr>
            <tr *ngFor="let request of closedRequests">
              <td>{{ request.Ticket_Id }}</td>
              <td>{{ request.providerName | slice : 0 : 30   }}</td>
              <td>{{ request?.requestType }}</td>
              <td>{{ request.requestedDate | date:'dd/MM/yy' }}</td>
              <td>{{ request.closedDate | date:'dd/MM/yy' }}</td>
              <td>{{ request.pincode }}</td>
            </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>