<div class="dashboard">
    <h1>Dashboard</h1>
  
    <div class="section">
      <h2>Open Requests</h2>
      <table>
        <thead>
          <tr>
            <th>Request No</th>
            <!-- <th>Provider Name</th> -->
            <th>Request Date</th>
            <th>PIN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of openRequests">
            <td>{{ request.Ticket_Id }}</td>
            <!-- <td>{{ request.providerName }}</td> -->
            <td>{{ request.requestedDate | date:'medium' }}</td>
            <td>{{ request.pincode }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="section">
      <h2>New Requests</h2>
      <table>
        <thead>
          <tr>
            <th>Request No</th>
            <th>Provider Name</th>
            <th>Request Date</th>
            <th>PIN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of newRequests">
            <td>{{ request.Ticket_Id }}</td>
            <td>{{ request.providerName }}</td>
            <td>{{ request.requestedDate | date:'medium' }}</td>
            <td>{{ request.pincode }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="section">
        <h2>Closed Requests</h2>
        <table>
          <thead>
            <tr>
              <th>Request No</th>
              <th>Provider Name</th>
              <th>Request Date</th>
              <th>Closed Date</th>
              <th>PIN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of closedRequests">
              <td>{{ request.Ticket_Id }}</td>
              <td>{{ request.providerName }}</td>
              <td>{{ request.requestedDate | date:'medium' }}</td>
              <td>{{ request.dateClosed }}</td>
              <td>{{ request.pincode }}</td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
  