<section class="dashboard-section">
    <div class="dashboard-heading mt-4">
      <h1>Dashboard</h1>
    </div>
    <div class="dashboard-container">
      <div class="tiles-container">
        <div class="tile animated">
          <a routerLink="/my-request-bucket">
            <h2>My Request Bucket</h2>
            <p>201</p>
          </a>
        </div>
        <div class="tile animated">
          <a routerLink="/sent-to-legal">
            <h2>Sent to Legal</h2>
           <p>202</p>
          </a>
        </div>
        <div class="tile animated">
          <a routerLink="/converted-to-booking">
            <h2>Converted to Booking</h2>
            <p>201</p>
          </a>
        </div>
        <div class="tile animated">
          <a routerLink="/empanelment-done">
            <h2>Empanelment Done</h2>
          </a>
        </div>
        <div class="tile animated">
          <a routerLink="/active-dc">
            <h2>Active DC</h2>
          </a>
        </div>
        <div class="tile animated">
          <a routerLink="/delist-dc">
            <h2>Delist DC</h2>
          </a>
        </div>
        <div class="tile animated">
          <a routerLink="/blacklisted-dc">
            <h2>Blacklisted DC</h2>
          </a>
        </div>
        <div class="tile animated">
          <a routerLink="/pending-for-qc2">
            <h2>Pending for QC</h2>
          </a>
        </div>
      </div>
    </div>
  </section>
  