<div>
  <div class="heading">
    <h5 class="my-3"><span class="heading-left-line"></span>Network Team DC Verification</h5>
    <hr />
  </div>
  <div>
    <div class="box">
      <div class="box-card">
        <div class="dashboard-container">
          <div class="tiles-container">
            <div class="tile animated" [class.active]="showDetails === 1"  (click)="toggleDetails(1)" >
              <a>
                <h2>Pending For Verification</h2>
                <p class="count">{{showAnalytics.pending.length || 0}}</p>
              </a>
            </div>
            <div class="tile animated" [class.active]="showDetails === 2"  (click)="toggleDetails(2)">
              <a >
                <h2>Verified</h2>
                <p class="count">{{showAnalytics.verify.length || 0}}</p>
              </a>
            </div>
            <div class="tile animated" [class.active]="showDetails === 3"  (click)="toggleDetails(3)">
              <a >
                <h2>Partial Verified</h2>
                <p class="count">{{showAnalytics.partialVerify.length || 0}}</p>
              </a>
            </div>
          </div>
        </div> 

        <div class="details d-flex justify-content-center" *ngIf="showDetails === 1">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DC Name</th>
                <th scope="col">DCID</th>
                <th scope="col">Pincode</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of showAnalytics.pending; index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.providerName}}</td>
                  <td>{{item.DCID}}</td>
                  <td>{{item.pincode}}</td>
                  <td (click)="sendRequestForSearch(item.id)" class="viewDc">Open</td>
              </tr>
              <tr *ngIf="showAnalytics.pending.length == 0">
                <td colspan="100%" class="text-center">Data Not found!</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="details d-flex justify-content-center" *ngIf="showDetails === 2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DC Name</th>
                <th scope="col">DCID</th>
                <th scope="col">Pincode</th>
                <th scope="col">Network</th>
                <th scope="col">Date Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of showAnalytics.verify; index as i">
                <th scope="row">{{i+1}}</th>
                <td (click)="sendRequestForSearch(item.id)" >{{item.providerName}}</td>
                <td>{{item.DCID}}</td>
                <td>{{item.pincode}}</td>
                <td>{{item?.verifiedByNetworkUser}}</td>
                <td>{{item?.verifiedByNetworkDate | date: 'medium'}}</td>
                <td (click)="sendRequestForSearch(item.id)" class="viewDc">Open</td>
              </tr>
              <tr *ngIf="showAnalytics.verify.length == 0">
                <td colspan="100%" class="text-center">Data Not found!</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="details d-flex justify-content-center" *ngIf="showDetails === 3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DC Name</th>
                <th scope="col">DCID</th>
                <th scope="col">Pincode</th>
                <th scope="col">Network</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of showAnalytics.partialVerify; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.providerName}}</td>
                <td>{{item.DCID}}</td>
                <td>{{item.pincode}}</td>
                <td>{{item?.verifiedByNetworkUser}}</td>
                <td (click)="sendRequestForSearch(item.id)" class="viewDc">Open</td>
              </tr>
              <tr *ngIf="showAnalytics.partialVerify.length == 0">
                <td colspan="100%" class="text-center">Data Not found!</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!-- Search -->
        <!-- <div class="box-card-body">
          <form [formGroup]="form">
            <div class="d-flex flex-row">
              <div class="p-2">
                <select formControlName="id">
                  <option>------------Select DC -----------</option>
                  <option
                    *ngFor="let item of providerNames"
                    [value]="item.id"
                  >
                    {{ item.providerName }} - {{item.DCID}}
                  </option>
                </select>
              </div>
              <div class="p-2">
                <button type="submit" (click)="onSearch()">Search</button>
              </div>
            </div>
          </form>
        </div > -->
        <div *ngIf="selfemployementData" class="verification-container">
          <h6 class="verification-title">Verify Self-Empanelment</h6>
          <div>
            <h6>DC Name:  {{selfemployementData.providerName}} </h6>
            <h6>Firm Type:  {{selfemployementData.FirmType}} </h6>
          </div>
          <div class="provider-details row">
            <div class="col-md-6 border p-3" *ngIf="selfemployementData.pan_image">
              <p>Pan Name: {{selfemployementData.nameOnPanCard}} <br>
                  Pan Number: {{selfemployementData.PanCard_number}}</p>
                  <a href="data:image/png;base64,{{ selfemployementData.pan_image }}" target="_blank">
              <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.pan_image }}" alt="Pan Image"></a>
              <div><br>
            <!-- Pan verification -->
              <input type="radio" name="panVerification" [value]="'verify'" (change)="onVerificationChange('pan', $event)"/> Verified
              <input type="radio" name="panVerification" [value]="'not-verify'" (change)="onVerificationChange('pan', $event)" checked/> Not Verified
              </div>
          </div>
          <div class="col-md-6 border p-3" *ngIf="selfemployementData.aadhar_image">
              <p>Aadhar Name: {{selfemployementData.Adhar_name}}<br>
                  Aadhar Number: {{selfemployementData.Adhar_number}}</p>
                  <a href="data:image/png;base64,{{ selfemployementData.aadhar_image }}" target="_blank">
              <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.aadhar_image }}" alt="Aadhar Image"></a>
              <div><br>
                <input type="radio" name="panVerification2" [value]="'verify'" (change)="onVerificationChange('aadhar', $event)"/> Verified
                <input type="radio" name="panVerification2" [value]="'not-verify'" (change)="onVerificationChange('aadhar', $event)" checked/> Not Verified              
              </div>
          </div>
                <div class="col-md-6 border p-3" *ngIf="selfemployementData.Accreditation_image">
                    <p>Accredation: {{selfemployementData.Accredation}}</p>
                    <a href="data:image/png;base64,{{  selfemployementData.Accreditation_image }}" target="_blank">
                    <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Accreditation_image }}" alt="Accreditation Image"></a>
                    <div><br>
                      <input type="radio" name="accreditationVerified" [value]="'verify'" (change)="onVerificationChange('accreditation', $event)"/> Verified
                      <input type="radio" name="accreditationVerified" [value]="'not-verify'" (change)="onVerificationChange('accreditation', $event)" [(ngModel)]="unverifiedCheckboxValue" checked/> Not Verified              
                          </div>
                </div>
                <div class="col-md-6 border p-3" *ngIf="selfemployementData.Current_Bank_Statement_image">
                    <p>Cancelled Cheque/ Current Bank Statement: {{selfemployementData.Remark}}</p>
                    <a href="data:image/png;base64,{{  selfemployementData.Current_Bank_Statement_image }}" target="_blank">
                    <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Current_Bank_Statement_image }}" alt="TDS Image"></a>
                    <div><br>
                      <input type="radio" name="tdsVerified" [value]="'verify'" (change)="onVerificationChange('tds', $event)"/> Verified
                      <input type="radio" name="tdsVerified" [value]="'not-verify'" (change)="onVerificationChange('tds', $event)" checked/> Not Verified              
                    </div>
                </div>
                <div class="col-md-6 border p-3" *ngIf="selfemployementData.Shop_Establishment_Certificate_image">
                    <p>Shop Establishment Certificate/GST Certificate/Clinical Establishment Certificate:</p>
                    <a href="data:image/png;base64,{{  selfemployementData.Shop_Establishment_Certificate_image }}" target="_blank">
                    <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Shop_Establishment_Certificate_image }}" alt="Ownership Image"></a>
                    <div><br>
                      <input type="radio" name="ownershipVerified" [value]="'verify'" (change)="onVerificationChange('ownership', $event)"/> Verified
                      <input type="radio" name="ownershipVerified" [value]="'not-verify'" (change)="onVerificationChange('ownership', $event)" checked/> Not Verified              
                    </div>
                </div>
                <div class="col-md-6 border p-3" *ngIf="selfemployementData.Authority_Letter_image">
                    <p>Signing Authority Letter:</p>
                    <a href="data:image/png;base64,{{  selfemployementData.Authority_Letter_image }}" target="_blank">
                    <img class="doc-image" src="data:image/png;base64,{{ selfemployementData.Authority_Letter_image }}" alt="Registration Number Image" style="max-width: 250px;"></a>
                    <div><br>
                      <input type="radio" name="registrationVerified" [value]="'verify'" (change)="onVerificationChange('registration', $event)"/> Verified
                      <input type="radio" name="registrationVerified" [value]="'not-verify'" (change)="onVerificationChange('registration', $event)" checked/> Not Verified              
                    </div>
                </div>
            </div>
  <div class="remark-container">
    <label for="remark">Remark:</label>
    <textarea id="remark" rows="3" name="remark" placeholder="Enter your remark here..." [(ngModel)]="remark"></textarea>
  </div>

  <div class="button-container">
    <button class="verify-button" *ngIf="areAllCheckboxesVerified()" (click)="verification('verify')">Submit</button>    
    <button class="partial-verify-button" *ngIf="!areAllCheckboxesVerified()" (click)="verification('partialVerify')">Partial Verify</button>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
