$primary-color: #0C356A;
$error-color: red;



.heading{
    padding: 1.5rem 2rem 0rem 2rem;
    h5{
        color: $primary-color;
    }
    hr{
        height: 2px;
    }
}

.heading-left-line{
    color: $primary-color;
    border-left: solid;
    border-style: 2px solid;
    border-color: $primary-color;
    margin-right: 1rem;
}


.box{
    padding: 0 2rem; 
    .box-card{
        padding: 0.7rem;
        border: 1px solid rgba(19, 0, 109, 0.456);
        border-radius: 10px;
    }
    .box-card-header{
        padding: 1rem;
    }
    .box-card-body{
        padding:  0.4rem 1rem 1rem 1rem;
    }
}

.input-group-box{
    padding-top: 0.7rem;
    label{
        color: #212529;
        font-size: 0.8rem;
        font-weight: 500;
    }
    input, select, textarea{
        color: #4f4f4fd4;
        padding: 0.35rem;
        width: 100%;
    }
    input[type="radio"]{
        width: 10%;
    }
}

button{
    padding: 0.35rem 1rem;
    margin-right: 0.5rem;
    background-color: #0C356A;
    color: #fff !important;
    border-radius: 23px;
    &:hover{
        background-color: gold;
        color: #0C356A;
        border-color: gold;
    }
}