<section>
    <div class="container-sm">
    <div class="mt-5">
        <h5 class="text-center">Activate, Deactivate or Delist Providers</h5>
    </div>
    <div class="mt-5 justify-content-center row">
        <div class="col-md-5 mx-auto">
        <p class="ps-2 mb-1 text-muted">Enter Provider Name, PIN, City or ID to Search</p>
            <div>
                <form class="d-flex flex-row gap-2" [formGroup]="DCSerachForm" (ngSubmit)="onSubmit()">
                    <input type="text" class="form-control" formControlName="q" placeholder="Name, PIN, City, Provider ID">
                    <button class="btn btn-success px-4" type="submit">Search</button>
                </form>
            </div></div>
    </div>
    <div class="mt-5">
        <h6 class="text-center"> Results: {{dcSearchDisplayResponseData.length}}</h6>
        <div class="row justify-content-center my-4">
            <div class="col-md-4 mb-4" *ngFor="let dc of dcSearchDisplayResponseData" >
                <div class="p-4 mb-3 card-body">
                    <p>Provider ID: {{dc['DCID']}} </p>
                    <p>{{dc['DC Name']}}</p>
                    <p>{{dc['Address']}}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-row gap-1 justify-content-center">
                        <button class="btn btn-activate">Activate</button>
                        <button class="btn btn-deactivate">Deactivate</button>
                        <button class="btn btn-delist">Delist</button>
                    </div>
                </div>
            </div>
        </div>
         <!-- Result Not Found in Additional Filter -->
         <ng-container *ngIf="dcSearchDisplayResponseData.length == 0">
            <div class="d-flex justify-content-center">
              <div class="alert alert-warning" role="alert" style="width: 50em">
                No DC Found For the Search Criteria!!
              </div>
            </div>
        </ng-container>
    </div>
</div>
</section>