<section>
    <div class="container-sm">
        <div class="mt-5 text-center">
            <h5>Activate, Deactivate or Delist Providers</h5>
        </div>
        <div class="mt-5 row justify-content-center" *ngIf="!requestedTicketObj">
            <div class="col-md-5">
                <p class="ps-2 mb-1 text-muted">Enter Provider Name, PIN, City or ID to Search</p>
                <form class="d-flex flex-row gap-2" [formGroup]="DCSerachForm" (ngSubmit)="onSubmit()">
                    <input type="text" class="form-control" formControlName="q" placeholder="Name, PIN, City, Provider ID">
                    <button class="btn btn-success px-4" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="" style="display: none;">
            <h6 class="text-center">Results: 0</h6>
            <div class="row justify-content-center my-4">
                <div class="col-md-4 mb-4" >
                    <div class="">
                        <div class="card-body p-4 mb-3">
                            <p>Provider ID: 71071</p>
                            <p>Krishna Hospital - Vasai</p>
                            <p>G,B-1,Prabhu Niwas, K.T Village,Meena Nagar,Opp., Greter Bank Vasai west</p>
                            <p>Status: <span>Activated</span></p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex flex-row gap-1 justify-content-center">
                                <button class="btn btn-activate">Activate</button>
                                <button class="btn btn-deactivate" disabled>Deactivate</button>
                                <button class="btn btn-delist">Delist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5" *ngIf="isSubmited">
            <h6 class="text-center">Results: {{dcSearchDisplayResponseData.length}}</h6>
            <div class="row justify-content-center my-4">
                <div class="col-md-4 mb-4" *ngFor="let dc of dcSearchDisplayResponseData">
                    <div class="">
                        <div class="card-body p-4 mb-3">
                            <p>Provider ID: {{dc['DCID']}}</p>
                            <p>{{dc['DC Name'] | titlecase }}</p>
                            <p>{{dc['Address']}}</p>
                            <p>Status: <span *ngIf="dc['DCStatus']=='Activate'">Activated</span><span *ngIf="dc['DCStatus']=='Deactivate'">Deactivated</span><span *ngIf="dc['DCStatus']=='Delist'">Delisted</span></p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex flex-row gap-1 justify-content-center">
                                <button class="btn btn-activate" (click)="UpdateDCStatus(dc, 'Activate')" [disabled]="dc['DCStatus'] == 'Activate' ">Activate</button>
                                <button class="btn btn-deactivate" (click)="UpdateDCStatus(dc, 'Deactivate')" [disabled]="dc['DCStatus'] == 'Deactivate' ">Deactivate</button>
                                <button class="btn btn-delist" (click)="UpdateDCStatus(dc, 'Delist')" [disabled]="dc['DCStatus'] == 'Delist' ">Delist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="dcSearchDisplayResponseData.length == 0">
                <div class="d-flex justify-content-center">
                    <div class="alert alert-warning" role="alert" style="width: 50em">
                        No DC Found For the Search Criteria!!
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
