:host { 
    display: contents; 
  }
  .wwwalineaproviderportalsigupage-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .wwwalineaproviderportalsigupage-wwwalineaproviderportalsigupage {
    width: 100%;
    height: 1080px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-section {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .wwwalineaproviderportalsigupage-divlogincolrightbg {
    top: 0.27880859375px;
    left: -0.23773193359375px;
    width: 1920px;
    height: 1080px;
    position: absolute;
  }
  .wwwalineaproviderportalsigupage-divlogincolrightbox {
    top: 159px;
    left: 170px;
    width: 957px;
    height: 833px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 0 8px 8px 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-heading2 {
    top: 43px;
    left: 43px;
    width: 871px;
    height: 55.189998626708984px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .wwwalineaproviderportalsigupage-text {
    top: -0.14013671875px;
    color: rgba(57, 146, 130, 1);
    width: 430px;
    height: auto;
    position: absolute;
    font-size: 46px;
    font-style: Medium;
    text-align: left;
    font-family: Lato;
    font-weight: 500;
    line-height: 55.20000076293945px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text01 {
    color: rgba(57, 146, 130, 1);
  }
  .wwwalineaproviderportalsigupage-form {
    top: 126px;
    left: 43px;
    width: 871px;
    height: 666px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .wwwalineaproviderportalsigupage-text03 {
    color: rgba(220, 53, 69, 1);
    width: 101px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text04 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-options {
    top: 39px;
    left: 0px;
    width: 1px;
    height: 1px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-comboboxmenu {
    top: 38.7001953125px;
    left: 0px;
    width: 176px;
    height: 39px;
    position: absolute;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .wwwalineaproviderportalsigupage-text06 {
    left: 211.3000030517578px;
    color: rgba(220, 53, 69, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text07 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-input {
    top: 39.7001953125px;
    left: 212px;
    width: 298px;
    height: 38px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-input01 {
    top: 40px;
    left: 557px;
    width: 297px;
    height: 38px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-text09 {
    top: 119.08000183105469px;
    color: rgba(220, 53, 69, 1);
    width: 72px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text10 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-options1 {
    top: 158.0800018310547px;
    left: 0px;
    width: 1px;
    height: 1px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-comboboxmenu1 {
    top: 157.7001953125px;
    left: 0px;
    width: 176px;
    height: 39px;
    position: absolute;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .wwwalineaproviderportalsigupage-text12 {
    top: 118.7001953125px;
    left: 199px;
    color: rgba(220, 53, 69, 1);
    width: 116px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text13 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-input02 {
    top: 158.7001953125px;
    left: 212px;
    width: 298px;
    height: 38px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-divplaceholder {
    top: 7.619999885559082px;
    left: 15.270000457763672px;
    width: 267px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .wwwalineaproviderportalsigupage-text15 {
    color: rgba(191, 191, 191, 1);
    width: 109px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text17 {
    top: 237px;
    left: -10px;
    color: rgba(220, 53, 69, 1);
    width: 121px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text18 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-input03 {
    top: 276px;
    left: 1px;
    width: 176px;
    height: 38px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-text20 {
    top: 356px;
    left: 9px;
    color: rgba(56, 56, 56, 1);
    width: 65px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-input04 {
    top: 406px;
    left: 9px;
    width: 845px;
    height: 38px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-text22 {
    top: 237px;
    left: 556px;
    color: rgba(252, 10, 54, 1);
    width: 55px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text23 {
    color: rgba(252, 10, 54, 1);
  }
  .wwwalineaproviderportalsigupage-input05 {
    top: 276px;
    left: 556px;
    width: 298px;
    height: 38px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-text25 {
    top: 461px;
    left: 9px;
    color: rgba(220, 53, 69, 1);
    width: 79px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text26 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-input06 {
    top: 512px;
    left: 6px;
    width: 509px;
    height: 37px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-text28 {
    top: 461px;
    left: 548px;
    color: rgba(220, 53, 69, 1);
    width: 138px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text29 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-input07 {
    top: 512px;
    left: 548px;
    width: 313px;
    height: 37px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-input08 {
    top: 573px;
    left: 6px;
    color: rgba(255, 255, 255, 1);
    width: 244px;
    height: 52px;
    display: flex;
    position: absolute;
    font-size: 20px;
    text-align: center;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: Lato;
    font-weight: 400;
    border-color: rgba(25, 165, 160, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: rgba(25, 165, 160, 1);
  }
  .wwwalineaproviderportalsigupage-input09 {
    top: 581px;
    left: 592px;
    color: rgba(255, 255, 255, 1);
    width: 235px;
    height: 52px;
    display: flex;
    position: absolute;
    font-size: 20px;
    text-align: center;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: Lato;
    font-weight: 400;
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: rgba(226, 226, 226, 1);
  }
  .wwwalineaproviderportalsigupage-text31 {
    top: -0.2998046875px;
    left: 548px;
    color: rgba(220, 53, 69, 1);
    width: 97px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text32 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-text34 {
    top: 237px;
    left: 210px;
    color: rgba(220, 53, 69, 1);
    width: 121px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text35 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-text37 {
    top: 642px;
    left: -27px;
    color: rgba(0, 0, 0, 1);
    width: 287px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text38 {
    font-weight: 400;
  }
  .wwwalineaproviderportalsigupage-comboboxmenu2 {
    top: 275px;
    left: 212px;
    width: 298px;
    height: 39px;
    position: absolute;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .wwwalineaproviderportalsigupage-input10 {
    top: 159px;
    left: 561px;
    width: 293px;
    height: 38px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(183, 181, 181, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.9100000858306885px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wwwalineaproviderportalsigupage-divplaceholder1 {
    top: 7.619999885559082px;
    left: 15.270000457763672px;
    width: 262px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .wwwalineaproviderportalsigupage-text40 {
    color: rgba(191, 191, 191, 1);
    width: 109px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text42 {
    top: 118px;
    left: 561px;
    color: rgba(220, 53, 69, 1);
    width: 116px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wwwalineaproviderportalsigupage-text43 {
    color: rgba(220, 53, 69, 1);
  }
  .wwwalineaproviderportalsigupage-header-linklogopng {
    top: 24px;
    left: 55px;
    width: 222px;
    height: 62px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-size: cover;
    background-image: url("/tq_jd0ezlyjkz-3c5-200h.png");
  }
  @media(max-width: 1200px) {
    .wwwalineaproviderportalsigupage-divlogincolrightbox {
      top: 137px;
      left: 117px;
    }
  }
  