<div>
    <div class="heading">
        <h5><span class="heading-left-line"></span>DC Empanelment Request</h5>
        <hr>
    </div>
    <div>
        <div class="box">
            <div class="box-card">
                <div class="box-card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>SERVICE TYPE <code>*</code></label></div>
                                    <div>
                                        <select>
                                            <option>----select----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>CLIENT <code>*</code></label></div>
                                    <div>
                                        <select>
                                            <option>----select----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>REQUIRED STATE <code>*</code></label></div>
                                    <div>
                                        <select>
                                            <option>----select----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>CITY <code>*</code></label></div>
                                    <div>
                                        <select>
                                            <option>----select----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>AHPL LOCATION <code>*</code></label></div>
                                    <div>
                                        <select>
                                            <option>----select----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>NUMBER OF DC IN EACH LOCATION <code>*</code></label></div>
                                    <div>
                                        <select>
                                            <option>----select----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>NUMBER OF DC IN EACH LOCATION <code>*</code></label></div>
                                    <div>
                                        <input type="radio" id="contactChoice1" name="contact"/>
                                        <label for="contactChoice1">Yes</label>
                                        <input type="radio" id="contactChoice2" name="contact"/>
                                        <label for="contactChoice2">No</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>IS NICOTINE TEST MANDATORY <code>*</code></label></div>
                                    <div>
                                        <input type="radio" id="contactChoice1" name="contact"/>
                                        <label for="contactChoice1">Yes</label>
                                        <input type="radio" id="contactChoice2" name="contact"/>
                                        <label for="contactChoice2">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>IS SCANNING FACILITY MANDATORY <code>*</code></label></div>
                                    <div>
                                        <input type="radio" id="contactChoice1" name="contact"/>
                                        <label for="contactChoice1">Yes</label>
                                        <input type="radio" id="contactChoice2" name="contact"/>
                                        <label for="contactChoice2">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>EXPECTED VOLUME <code>*</code></label></div>
                                    <div>
                                        <input type="number" placeholder="Expected Volume"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>REQUEST RAISED IN PAST <code>*</code></label></div>
                                    <div>
                                        <input type="radio" id="contactChoice1" name="contact"/>
                                        <label for="contactChoice1">Yes</label>
                                        <input type="radio" id="contactChoice2" name="contact"/>
                                        <label for="contactChoice2">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>DC DETAILS AVAILABLE <code>*</code></label></div>
                                    <div>
                                        <input type="radio" id="contactChoice1" name="contact"/>
                                        <label for="contactChoice1">Yes</label>
                                        <input type="radio" id="contactChoice2" name="contact"/>
                                        <label for="contactChoice2">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>ADDITION POINTS TO NOTE <code>*</code></label></div>
                                    <div>
                                        <textarea name="" id="" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>PRIORITY <code>*</code></label></div>
                                    <div>
                                        <select>
                                            <option>----select----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="col-md-4">
                                <div class="input-group-box">
                                    <div><label>IS WEBCAM MANDATORY <code>*</code></label></div>
                                    <div>
                                        <input type="radio" id="contactChoice1" name="contact"/>
                                        <label for="contactChoice1">Yes</label>
                                        <input type="radio" id="contactChoice2" name="contact"/>
                                        <label for="contactChoice2">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <div class="d-flex justify-content-center">
                                <button>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>