
<div class="container justify-content-center" >
    <div class="mt-5">
        <div class="mb-3">
            <label class="form-label">Select DC</label>
            <select class="form-select"  #mySelect id="mySelectElement" required>
                <option *ngFor="let item of VerifiedSelfEmpanelmentList" [value]="item.id" >
                {{ item.providerName }} - {{item.DCID}}
            </option>
            </select>
        </div>
        <div class="drop-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
            <p>Drag and drop your files here</p>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" >
            <div *ngIf="selectedFile" class="selected-file">
            Selected file: {{ selectedFile.name }}
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-success btn-lg btn-block" type="submit" (click)="submit()">Submit</button>
        </div>

</div>
</div>
