<div>
  <div class="heading">
    <h5><span class="heading-left-line"></span>Empanelment Form</h5>
    <hr>
  </div>
  <div>
    <div class="box">
      <div class="box-card">
        <div class="box-card-body">

          <mat-stepper orientation="vertical"  [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup" #formone="ngForm" (ngSubmit)="firstFormSubmit()">
                <ng-template matStepLabel>DC Details</ng-template>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>PROVIDER NAME <code>*</code></label></div>
                        <div><input type="text" formControlName="providerName" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>PROVIDER TYPE <code>*</code></label></div>
                        <div>
                          <select formControlName="providerType">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>DC CHAIN/STANDALONE <code>*</code></label></div>
                        <div>
                          <select formControlName="dcChainStandalone">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>INSTATION/OUTSTATION <code>*</code></label></div>
                        <div>
                          <select formControlName="instationOutstation">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>REGISTRATION NUMBER <code>*</code></label></div>
                        <div><input type="text" formControlName="registrationNumber" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>DATE OF INCEPTION <code>*</code></label></div>
                        <div><input type="date" formControlName="dateOfInception" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>OWNER'S NAME <code>*</code></label></div>
                        <div><input type="text" formControlName="ownersName" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>PAN NUMBER <code>*</code></label></div>
                        <div><input type="text" formControlName="panNumber" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>NAME ON PAN CARD <code>*</code></label></div>
                        <div><input type="text" formControlName="nameOnPanCard" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>GRADE <code>*</code></label></div>
                        <div>
                          <select formControlName="grade">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>TIER <code>*</code></label></div>
                        <div>
                          <select formControlName="tier">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ACCREDITATION <code>*</code></label></div>
                        <div>
                          <select formControlName="accreditation">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ACCREDITATION ISSUE DATE <code>*</code></label></div>
                        <div><input type="date" formControlName="accreditationIssueDate"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ACCREDITATION EXPIRY DATE <code>*</code></label></div>
                        <div><input type="date" formControlName="accreditationExpiryDate"></div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AADHAR CARD NUMBER <code>*</code></label></div>
                        <div><input type="text" formControlName="aadharCardNumber" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AADHAR NAME <code>*</code></label></div>
                        <div><input type="text" placeholder="" formControlName="aadharName" required></div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MYSTERY SHOPPING <code>*</code></label></div>
                        <div>
                          <input type="radio" name="selectedOption" value="Yes" [(ngModel)]="selectedOption" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" name="selectedOption" value="No" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MS DATE <code>*</code></label></div>
                        <div><input type="date" formControlName="msDate"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AUDIT <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AUDIT TYPE <code>*</code></label></div>
                        <div>
                          <select formControlName="auditType">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AUDIT DATE <code>*</code></label></div>
                        <div><input type="date" formControlName="auditDate"></div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>NDC STATUS <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AUDIT DATE <code>*</code></label></div>
                        <div><input type="date" formControlName="dateTillNDC"></div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>OWNER NAME AS PER OWNERSHIP DOCUMENT <code>*</code></label></div>
                        <div><input type="text" formControlName="ownerNameAsPerOwnershipDocument" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CENTER NAME AS PER OWNERSHIP DOCUMENT <code>*</code></label></div>
                        <div><input type="text" placeholder="" formControlName="centerNameAsPerOwnershipDocument"
                            required></div>
                      </div>
                    </div>
                  </div>

                  <div class="mt-3">
                    <button mat-button matStepperNext type="submit">Next</button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup" #formtwo="ngForm" (ngSubmit)="secondFormSubmit()">
                <ng-template matStepLabel>Contact Details</ng-template>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ADDRESS 1 <code>*</code></label></div>
                        <div><textarea type="text" rows="2" formControlName="address1" required></textarea></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ADDRESS 2 </label></div>
                        <div><textarea type="text" rows="2" formControlName="address2" required></textarea></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AHPL LOCATION <code>*</code></label></div>
                        <div>
                          <select formControlName="ahplLocation">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>LC LOCATION <code>*</code></label></div>
                        <div>
                          <select formControlName="lcLocation">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>STATE <code>*</code></label></div>
                        <div>
                          <select formControlName="state">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CITY <code>*</code></label></div>
                        <div>
                          <select formControlName="city">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>PINCODE <code>*</code></label></div>
                        <div><input type="text" formControlName="pincode" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>AREA <code>*</code></label></div>
                        <div>
                          <select formControlName="area">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>LAND MARK <code>*</code></label></div>
                        <div><input type="text" formControlName="landMark" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>Zone <code>*</code></label></div>
                        <div>
                          <select formControlName="zone">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>OWNER CONTACT NUMBER <code>*</code></label></div>
                        <div><input type="text" formControlName="ownerContactNumeber" required></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CONTACT PERSON NAME 1 <code>*</code></label></div>
                        <div><input type="text" formControlName="contactPersonName1" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MOBILE NUMBER <code>*</code></label></div>
                        <div><input type="text" formControlName="mobileNumber" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>LANDLINE NUMBER </label></div>
                        <div>
                          <input type="text" formControlName="landlineNumber" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CONTACT PERSON NAME 2 </label></div>
                        <div><input type="text" formControlName="contactPersonName2" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ALT MOBILE NUMBER </label></div>
                        <div><input type="text" formControlName="altMobileNumber" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ALT LANDLINE NUMBER </label></div>
                        <div>
                          <input type="text" formControlName="altLandlineNumber" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>EMAIL ID <code>*</code></label></div>
                        <div><input type="text" formControlName="emailId" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>EMAIL ID 2</label></div>
                        <div><input type="text" formControlName="emailId2" required></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>FAX </label></div>
                        <div><input type="text" formControlName="fax" required></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup" #formthird="ngForm" (ngSubmit)="thirdFormSubmit()">
                <ng-template matStepLabel>Bank Details</ng-template>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ACCOUNT NUMBER <code>*</code></label></div>
                        <div>
                          <input type="text" formControlName="accountNumber" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ACCOUNT NAME <code>*</code></label></div>
                        <div>
                          <select formControlName="accountName">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>BANK NAME <code>*</code></label></div>
                        <div>
                          <select formControlName="bankName">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>IFSC CODE <code>*</code></label></div>
                        <div>
                          <input type="text" formControlName="ifscCode" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>BRANCH NAME <code>*</code></label></div>
                        <div>
                          <select formControlName="branchName">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ACCOUNT TYPE <code>*</code></label></div>
                        <div>
                          <select formControlName="accountType">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>PAYMENT TO BE MADE IN FAVOR OF <code>*</code></label></div>
                        <div>
                          <input type="text" formControlName="paymentToBeMadeInFavorOf" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>PAYMENT MODE<code>*</code></label></div>
                        <div>
                          <select formControlName="paymentMode">
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>EMAIL ID FOR SETTLEMENT VOUCHER <code>*</code></label></div>
                        <div>
                          <input type="text" formControlName="emailIDForSettlementVoucher" required>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="mt-3">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="fourthFormGroup">
              <form [formGroup]="thirdFormGroup" #formthird="ngForm" (ngSubmit)="fourthFormSubmit()">
                <ng-template matStepLabel>Docters Details</ng-template>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>OPHTHALMOLOGY <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>OPHTH DOCTOR NAME <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>OPHTH REGISTRATION No. <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MBBS PHYSICIAN <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MBBS DOCTOR NAME <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MBBS REGISTRATION No. <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>GYNECOLOGY <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>GYNECOLOGY DOCTOR NAME <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>GYNECOLOGY REGISTRATION No. <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MD PHYSICIAN <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MD PHY. DOCTOR NAME <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>MD PHY. REGISTRATION No. <code>*</code></label></div>
                        <div>
                          <input type="text">
                        </div>
                      </div>
                    </div>
                    <div>

                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="fifthFormGroup">
              <form [formGroup]="thirdFormGroup" #formthird="ngForm" (ngSubmit)="fifthFormSubmit()">
                <ng-template matStepLabel>Test Details</ng-template>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>ECG FACILITY <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>USG <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>TREAD MILL TEST <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>TMT WT CAPACITY <code>*</code></label></div>
                        <div>
                          <input type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>2D ECHOCARDIOGRAPHY <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>FUNDOSCOPY TEST <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>BASIC EYE TEST <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>2D ECHOCARDIOGRAPHY <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>FUNDOSCOPY TEST <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>BASIC EYE TEST <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                          <input type="radio" id="contactChoice3" name="contact" />
                          <label for="contactChoice2">Outsourced</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="sexthFormGroup">
              <form [formGroup]="thirdFormGroup" #formthird="ngForm" (ngSubmit)="sexthFormSubmit()">
                <ng-template matStepLabel>Outsoursed Center Details</ng-template>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED CENTRE <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED NAME <code>*</code></label></div>
                        <div><input type="text"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED DISTANCE <code>*</code></label></div>
                        <div>
                          <select>
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED CENTRE <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED NAME <code>*</code></label></div>
                        <div><input type="text"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED DISTANCE <code>*</code></label></div>
                        <div>
                          <select>
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED CENTRE <code>*</code></label></div>
                        <div>
                          <input type="radio" id="contactChoice1" name="contact" />
                          <label for="contactChoice1">Yes</label>
                          <input type="radio" id="contactChoice2" name="contact" />
                          <label for="contactChoice2">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED NAME <code>*</code></label></div>
                        <div><input type="text"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group-box">
                        <div><label>CARDIOLOGY OUTSOURCED DISTANCE <code>*</code></label></div>
                        <div>
                          <select>
                            <option [value]="">----select----</option>
                            <option *ngFor="let type of providerType" [value]="type.value">{{type.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="seventhFormGroup">
              <form [formGroup]="thirdFormGroup" #formthird="ngForm" (ngSubmit)="seventhFormSubmit()">
                <ng-template matStepLabel>Other Details</ng-template>
                <div>

                </div>
                <div class="mt-3">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="eighthFormGroup">
              <form [formGroup]="thirdFormGroup" #formthird="ngForm" (ngSubmit)="eighthFormSubmit()">
                <ng-template matStepLabel>Work Details</ng-template>
                <div>
                </div>
                <div class="mt-3">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Process flow</ng-template>
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group-box">
                    <div><label>Document <code>*</code></label></div>
                    <div>
                      <input type="file" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <!-- <button mat-button (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit();formthird.ngSubmit.emit();">
                  Submit</button> -->
                  <button mat-button (click)="formGroupNestedSubmit()">Submit</button>
              </div>
            </mat-step>
          </mat-stepper>

        </div>
      </div>
    </div>
  </div>
</div>