:root {
  --green : #138a86;
  --white: #ffffff;
  --black: #000000;
}

body {
  padding-top: 90px; /* Adjust for the fixed navbar height */
}

.navbar-hidden {
  display: none; /* Hide the navbar */
}


.responsive_logo{
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}

.bg-green{
  background-color: #138a86;
}
.bg-white{
  background-color:#d4e591;
}
.c-white{
  color:  var(--white);
  .nav-link{
    color:  var(--white);
  }
}


.nav-link{
  padding:  0;
  color: var(--black);
  font-weight: bold;
  .nav-icon{
    color: #054240;
  }
}

.nav-item{
  &:hover{
    color: var(--green);
    font-weight: 500;
    // border-bottom: 2px solid var(--green);
  }
}