<section>
  <div class="container-sm">
    <div class="mt-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success text-capitalize" type="button" routerLink="/empanelment/dashboard">Go Back</button>
      </div>
      <div>
        <div class="row d-flex justify-content-evenly">
          <div class="col-md-4">
            <div class="mb-3">
              <label class="custom-label">Request Number</label>
              <input type="text" class="form-control" [(ngModel)]="requestedTicketObj.Ticket_Id" placeholder="Primary Ticket Number" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label class="custom-label">PIN Code Requested</label>
              <input type="text" class="form-control" [(ngModel)]="requestedTicketObj.pincode" placeholder="Primary Ticket Number" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="Add-Prospective p-4 mt-4">
        <p>Add Prospective Provider (Automation)</p>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="providerName" placeholder="Provider Name" formControlName="providerName">
            <div *ngIf="isSubmitted || f['providerName'].invalid && (f['providerName'].touched)" class="errormessage">
              <div *ngIf="f['providerName'].errors?.['required']">This Field is Required</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" placeholder="PIN Code" formControlName="pincode" readonly>
            <div *ngIf="isSubmitted || f['pincode'].invalid && (f['pincode'].touched)" class="errormessage">
              <div *ngIf="f['pincode'].errors?.['required']">This Field is Required</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="state" placeholder="State" formControlName="state" readonly>
          </div>
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="city" placeholder="City" formControlName="city" readonly>
          </div>
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="Contact_Person_Name"  placeholder="Contact Person Name" formControlName="contactPersonName" >
            <div *ngIf="isSubmitted || f['contactPersonName'].invalid && (f['contactPersonName'].touched)" class="errormessage">
              <div *ngIf="f['contactPersonName'].errors?.['required']">This Field is Required</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <input type="email" class="form-control" id="Contact_Email" placeholder="Contact Email ID" formControlName="contactEmailID">
            <div *ngIf="isSubmitted || f['contactEmailID'].invalid && (f['contactEmailID'].touched)" class="errormessage">
              <div *ngIf="f['contactEmailID'].errors?.['required']">This Field is Required</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="Contact_Mobile_Number" placeholder="Contact Mobile No" formControlName="contactNumber"  minlength="10"
            maxlength="12">
            <div *ngIf="isSubmitted || f['contactNumber'].invalid && (f['contactNumber'].touched)" class="errormessage">
              <div *ngIf="f['contactNumber'].errors?.['required']">This Field is Required</div>
            </div>
          </div>
        </div>
        <div class="d-grid col-2 mx-auto mt-4">
          <button type="button" class="btn btn-light text-capitalize" (click)="onSubmit()">Submit</button>
        </div>
        </form>
      </div>
      <div class="row" *ngIf="perspectiveProviders.length != 0">
      <div class="Add-Prospective p-3 col-md-6 mx-auto mt-4">
        <p>Prospective Providers Added for this Request</p>
        <table class="table">
          <tr *ngFor="let provider of perspectiveProviders">
            <th class="align-middle">{{ provider.DignosticCenter_ProviderName | titlecase }}</th>
            <th class="text-end"><button type="button" class="btn btn-auto mx-2"
              (click)="addAutomaticProvider(provider)">Auto Add</button>
            <button type="button" class="btn btn-manual mx-2"
              (click)="addManualProvider(provider)">Manual Add</button>
            <button type="button" class="btn btn-delete mx-2"
              (click)="DeleteProvider(provider)">Delete</button></th>
          </tr>
        </table>
      </div>
    </div>
      <div class="d-grid gap-2 mt-4 d-md-flex justify-content-md-end">
        <button class="btn btn-success text-capitalize" type="button">Done</button>
      </div>
    </div>
  </div>
</section>