.container {
  display: flex;
  flex-direction: column;
  color: #575d58;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

input[type="email"] {
  margin-bottom: 0px;
}
.custom-label {
  font-weight: 500;
}
.Add-Prospective {
  background-color: #828282;
  border-radius: 0.5rem;
  p {
    font-size: 18px;
    font-weight: 550;
    color: #000;
  }
}
.btn {
  text-transform: capitalize;
}
.btn-auto {
  background-color: #ff8b03;
  color: #000;
  padding: 0.45rem;
}
.btn-manual {
  background-color: #022bbd;
  color: #fff;
  padding: 0.45rem;
}
.btn-delete {
  background-color: red;
  color: #fff;
  padding: 0.45rem;
}
table th {
  padding: 0.35rem;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.errormessage {
  font-size: 12px;
  color: #ffdbdb;
}
