<section class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/empanelment/dc-search">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{selectedItem['DC Name']}} </li>
        </ol>
    </nav>
    <div class="d-flex flex-row">
        <div>
            <img
                class=""
                loading="lazy"
                src="/assets/images/laboratory.jpg"
                alt="Card image cap"
              />
        </div>
        <div class="m-2" >
            <h6>{{selectedItem['DC Name']}} <small>( in {{selectedItem.City}} )</small></h6>
            <p>Address: {{selectedItem.Address}}, {{selectedItem.City}}, {{selectedItem.State}}, {{selectedItem.Pincode}} </p>
            <p >DC <span class="dcstatus">Active </span></p>
            <p class="mt-2"><a routerLink="#">Update DC</a> </p>
        </div>
    </div>
    <div class="mt-4">
        <h6>Booking History of {{selectedItem['DC Name']}} </h6>
        <p>Insurance Company</p>
        <div class="mt-2">
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      HDFC ERGO
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ol>
                    <li>Rahul, Mumbai, 400102, 24 April 25</li>
                    <li>Faraz, Mumbai, 400204, 26 April 25</li>
                    <li>Rshan, Mumbai, 400210, 27 April 25</li>
                  </ol>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      HDFC LIFE
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ol>
                    <li>Rahul, Mumbai, 400102, 24 April 25</li>
                    <li>Faraz, Mumbai, 400204, 26 April 25</li>
                    <li>Rshan, Mumbai, 400210, 27 April 25</li>
                  </ol>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      IPRU
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ol>
                    <li>Rahul, Mumbai, 400102, 24 April 25</li>
                    <li>Faraz, Mumbai, 400204, 26 April 25</li>
                    <li>Rshan, Mumbai, 400210, 27 April 25</li>
                  </ol>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>

    <div>   
      <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.7766684547564!2d72.97507581082337!3d19.204954447836524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b9396c31418b%3A0xb15959cef097b22a!2sMeenatai%20Thakrey%20Chowk%2C%20Uthalsar%2C%20Thane%20West%2C%20Thane%2C%20Maharashtra%20400601!5e0!3m2!1sen!2sin!4v1682584306136!5m2!1sen!2sin"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"
                style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>  
      <iframe id="map" style="height: 400px; width: 100%; border: 1px solid;" allowfullscreen loading="lazy"></iframe>
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
        defer></script>
    </div>
</section>