:root {
    --green : #138a86;
    --white: #ffffff;
    --black: #000000;
  }


.dcstatus{
        font-size: 18px;
        color: var(--green);
        font-weight: 550;
}

.breadcrumb{
    font-size: 14px;
    margin-top: 25px;
}



  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  mat-panel-title {
    font-weight: 400;
  }
  .map{
    border: 1px;
  }


  // nims

  .btn{
      text-transform: capitalize;
  }
  .headcard{
    h6{
      font-size: 18px;
      font-weight: 700;
    }
  }
  .bodycard{
    border: 1px solid #E0E0E0;
    padding: 12px;
    font-size: 16px;
    color: #828282;
    border-radius: 7px;
    border-bottom-width: unset;
    p{
      margin-bottom: 2px;
    }
  }
  .cardbody{
    font-size: 16px;
    p{
      margin-bottom: 2px;
      span{
        font-size: 16px;
        font-weight: 600;
        color: #828282;
      }
    }
  }
  .newcard{
    border: 1px solid #E0E0E0;
    padding: 12px;
    table tr td{
      padding: 7px;
    }
  }
  
  .bg-light{
    padding: 10px 10px;
    span{
      margin: 0 3px;
      background-color: #ffffff;
      padding: 7px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .cardbody{
    ul{
      padding: 0;
      list-style: square;
    }
    li{
      padding: 0;
    }
    li::marker {
      list-style: square;
      color: #dddd;
      font-size: 1.5em;
    }
  }